:host {
  display: block;
  min-width: 270px;

  &.toolbar-popup {
    padding: 0;
  }
}

.list {
  max-block-size: 563px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 10px;
}

.list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2);

  span {
    color: var(--grey-70);
  }

  &:hover {
    background: var(--grey-30);
  }
}

.list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.2;
}

.key {
  display: inline-flex;
  background-color: #eef0f5;
  color: #1f255a;
  font-size: 16px;
  font-weight: normal;
  padding: 0.5em 1em;
  border-radius: 9999px;
  text-align: center;
}
