<div class="list">
  <button
    type="button"
    class="list-item"
    (click)="selectedNote()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="add"></mat-icon>
      <span>Note</span>
    </div>
    <span class="key">Double Click</span>
  </button>
  <button
    type="button"
    class="list-item"
    (click)="selectedPanel()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="panel"></mat-icon>
      <span>Panel</span>
    </div>
    <span class="key">Ctrl+A</span>
  </button>
  <button
    type="button"
    class="list-item"
    (click)="selectedText()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="text"></mat-icon>
      <span>Text</span>
    </div>
    <span class="key">Ctrl+T</span>
  </button>
  <button
    type="button"
    class="list-item"
    (click)="selectedImage()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="image"></mat-icon>
      <span>Image</span>
    </div>
    <span class="key">Ctrl+K</span>
  </button>
  <button
    type="button"
    class="list-item"
    (click)="selectedPoll()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="poll"></mat-icon>
      <span>Poll</span>
    </div>
    <span class="key">Ctrl+P</span>
  </button>
  <button
    type="button"
    class="list-item"
    (click)="selectedEstimation()">
    <div class="list-name">
      <mat-icon
        class="icon"
        svgIcon="estimation"></mat-icon>
      <span>Estimation</span>
    </div>
    <span class="key">Ctrl+E</span>
  </button>
</div>
