:host {
  display: block;
}

.list {
  max-block-size: 563px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  grid-gap: 10px;
}

.selected {
  border: 2px solid var(--brand);
}

button {
  border: solid 2px transparent;
  inline-size: 100px;
  block-size: 100px;
}
