<div class="col">
  <div class="logo">
    <img
      priority="true"
      ngSrc="/assets/svgs/tapiz-logo.svg"
      width="140"
      height="65"
      alt="Tapiz logo" />
    <img
      priority="true"
      class="login-img"
      ngSrc="/assets/login-img.png"
      width="300"
      height="320"
      alt="Welcome to Tapiz" />
  </div>
  <p class="claim">
    Welcome to Tapiz! The free Open Source Tool designed for effortless and
    productive meetings, retrospectives, and brainstorming.
  </p>

  <div class="login-buttons">
    <button
      mat-raised-button
      class="google"
      (click)="loginGoogle()">
      <div class="button-inner">
        <mat-icon
          class="google-icon"
          svgIcon="google"></mat-icon>
        Sign in with Google
      </div>
    </button>
  </div>
</div>
