:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-block-start: 20vh;
  align-items: flex-start;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding: var(--size-8);
  background: #dcdaf6;
  justify-self: flex-end;
  max-width: 700px;
  min-width: 500px;
  box-shadow: var(--shadow-2);

  @media (max-width: 800px) {
    max-width: 100%;
  }
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7);
  margin-block-end: var(--spacing-4);
  gap: var(--spacing-2);

  .name {
    color: var(--brand);
  }
}

.claim {
  color: #736bdb;
  font-size: var(--font-size-4);
  margin-block-end: var(--spacing-8);
}

.button-inner {
  display: flex;
  align-items: center;

  & tapiz-svg-icon {
    margin-right: 0.75rem;
  }
}

.login-buttons {
  display: flex;
  justify-content: center;
  inline-size: 100%;
}
