:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-block-start: 20vh;
  align-items: flex-start;
  background-image: url("/assets/dot-bg.png");
  background-size: 40px;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding: var(--size-8);
  position: relative;
  background: var(--white);
  justify-self: flex-end;
  max-width: 715px;
  min-width: 500px;
  width: 100%;
  border-radius: var(--radius-4);
  border: 2px solid var(--grey-30);

  @media (max-width: 800px) {
    max-width: 100%;
  }
}

.logo {
  display: flex;
  margin-block-end: var(--spacing-4);
}

.login-img {
  position: absolute;
  top: 40px;
  right: -120px;
}

.claim {
  color: var(--grey-60);
  font-size: var(--font-size-4);
  margin-block-end: var(--spacing-8);
  text-wrap: pretty;
  max-width: 460px;
}

.button-inner {
  display: flex;
  align-items: center;
  color: var(--primary);

  & .google-icon {
    margin-right: 0.75rem;
  }
}

.login-buttons {
  display: flex;
  inline-size: 100%;
  margin-top: 30px;
}
