<div class="col left">
  <div class="logo-holder">
    <span class="logo">Tapiz</span>
  </div>
  <p class="claim">
    Welcome to Tapiz! The free Open Source Tool that helps your herd to make
    happy, easy meetings, retros and brainstormings.
  </p>

  <div class="login-buttons">
    <button
      mat-raised-button
      class="google"
      (click)="loginGoogle()">
      <div class="button-inner">
        <tapiz-svg-icon
          icon="google"
          class="icon-svg"></tapiz-svg-icon>
        Login with Google
      </div>
    </button>
  </div>
</div>
