<div class="col">
  <div class="logo">
    <img
      priority="true"
      ngSrc="/assets/logo.webp"
      width="60"
      height="62"
      alt="Tapiz logo" />
    <span class="name">Tapiz</span>
  </div>
  <p class="claim">
    Welcome to Tapiz! The free Open Source Tool designed for effortless and
    productive meetings, retrospectives, and brainstorming.
  </p>

  <div class="login-buttons">
    <button
      mat-raised-button
      class="google"
      (click)="loginGoogle()">
      <div class="button-inner">
        <tapiz-svg-icon
          icon="google"
          class="icon-svg"></tapiz-svg-icon>
        Sign in with Google
      </div>
    </button>
  </div>
</div>
