API="http://localhost:9000/api"
WS="ws://localhost:9000"

WEB_PORT = 9000

DB_PORT_HOST = 5433 # docker db public port
DB_PORT = 5432

POSTGRES_USER = user1
POSTGRES_PASSWORD = 123
POSTGRES_DB = teamup

# if you are not using docker, change this to localhost
POSTGRES_HOST = db

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
