{
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
