<team-up-title [title]="boardTitle()"></team-up-title>
<div
  [class.edit-mode]="(canvasMode$ | async) === 'editMode'"
  [class.compose-mode]="(canvasMode$ | async) === 'composeMode'"
  [class.loading]="!loaded()"
  class="container">
  @defer {
    <team-up-header></team-up-header>
    @if (!isDemo) {
      <team-up-users></team-up-users>
    }
    <team-up-board-toolbar />
    @if (drawing()) {
      <team-up-drawing-options></team-up-drawing-options>
    }
    @if (search()) {
      <team-up-search-options></team-up-search-options>
    }
  }
  <div
    class="work-layer"
    #workLayer>
    @if (boardId$ | async) {
      <team-up-overlay></team-up-overlay>
      <team-up-zone></team-up-zone>
      @if (!isDemo) {
        <team-up-cursors></team-up-cursors>
      }
      @defer {
        <team-up-nodes />
      }
    }
  </div>
  @defer {
    @if (!isDemo) {
      <team-up-follow-user></team-up-follow-user>
      <team-up-stop-highlight></team-up-stop-highlight>
    }
    <team-up-context-menu />
    <team-up-board-context-menu />
    <team-up-node-toolbar />
    <team-up-comments />
  }
</div>

@if (!loaded()) {
  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}

<div id="size-calculator"></div>
