<team-up-title [title]="boardTitle()"></team-up-title>
<div
  [class.edit-mode]="(canvasMode$ | async) === 'editMode'"
  [class.compose-mode]="(canvasMode$ | async) === 'composeMode'"
  [class.loading]="!loaded()"
  class="container">
  @defer {
    <team-up-header></team-up-header>
    <team-up-users></team-up-users>
    <team-up-board-toolbar />
    @if (drawing()) {
      <team-up-drawing-options></team-up-drawing-options>
    }
    @if (search()) {
      <team-up-search-options></team-up-search-options>
    }
  }
  <div
    class="work-layer"
    #workLayer>
    @if (boardId$ | async) {
      <team-up-overlay></team-up-overlay>
      <team-up-zone></team-up-zone>
      <team-up-cursors></team-up-cursors>
      @defer {
        @for (note of notes$ | async; track trackById($index, note)) {
          <team-up-note
            teamUpBoardDrag
            [note]="note"></team-up-note>
        }
        @for (group of groups$ | async; track trackById($index, group)) {
          <team-up-group
            teamUpBoardDrag
            [group]="group"></team-up-group>
        }
        <team-up-nodes />
      }
    }
  </div>
  @defer {
    <team-up-follow-user></team-up-follow-user>
    <team-up-stop-highlight></team-up-stop-highlight>
    <team-up-context-menu />
    <team-up-board-context-menu />
    <team-up-node-toolbar />
  }
</div>

@if (!loaded()) {
  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}
