<team-up-title [title]="boardTitle()"></team-up-title>
<div
  [class.edit-mode]="(canvasMode$ | async) === 'editMode'"
  [class.compose-mode]="(canvasMode$ | async) === 'composeMode'"
  class="container">
  <team-up-header></team-up-header>
  <team-up-users></team-up-users>
  <team-up-toolbar></team-up-toolbar>
  <team-up-drawing-options *ngIf="drawing()"></team-up-drawing-options>
  <team-up-search-options *ngIf="search()"></team-up-search-options>
  <div
    class="work-layer"
    #workLayer>
    <ng-container *ngIf="boardId$ | async">
      <team-up-overlay></team-up-overlay>
      <team-up-zone></team-up-zone>
      <team-up-cursors></team-up-cursors>
      <ng-container *ngFor="let note of notes$ | async; trackBy: trackById">
        <team-up-note
          tuBoardDrag
          [note]="note"></team-up-note>
      </ng-container>
      <ng-container *ngFor="let image of images$ | async; trackBy: trackById">
        <team-up-image
          tuBoardDrag
          tuResize
          tuRotate
          [image]="image"></team-up-image>
      </ng-container>
      <ng-container *ngFor="let group of groups$ | async; trackBy: trackById">
        <team-up-group
          tuBoardDrag
          tuResize
          [group]="group"></team-up-group>
      </ng-container>
      <ng-container *ngFor="let text of texts$ | async; trackBy: trackById">
        <team-up-text
          tuBoardDrag
          tuResize
          [text]="text"></team-up-text>
      </ng-container>
      <ng-container *ngFor="let vector of vectors$ | async; trackBy: trackById">
        <team-up-vector
          tuBoardDrag
          tuResize
          tuRotate
          [vector]="vector"></team-up-vector>
      </ng-container>
      <team-up-panels></team-up-panels>
    </ng-container>
  </div>
  <team-up-follow-user></team-up-follow-user>
</div>
