:host {
  display: contents;
}

.emoji {
  position: absolute;
  z-index: var(--board-highlight-node-layer);
  inline-size: var(--emoji-size);
  block-size: var(--emoji-size);
  pointer-events: none;
}
