:host {
  display: block;
  inline-size: 495px;
}

.list {
  max-block-size: 563px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-gap: 10px;
}

mat-form-field {
  margin-block-end: var(--spacing-2);
}

.selected {
  border: 2px solid var(--brand);
}
