.wrapper {
  position: absolute;
  z-index: var(--layer-5);
  padding: 300px;
  inline-size: 100dvw;
  block-size: 100dvh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  --s: 50px;
  width: 100%;
  height: 100%;
  border: 8px solid #000;
  padding: 10px;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

.actions-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-block-end: var(--spacing-4);
  inline-size: 100%;
  z-index: var(--layer-important);
  pointer-events: none;
}

.actions {
  display: flex;
  gap: var(--spacing-4);

  button {
    pointer-events: all;
  }
}


.go-to-starting-view {
  background-color: var(--white);
}
