<a
  aria-label="Home"
  class="logo"
  routerLink="/">
  <img
    priority="true"
    ngSrc="/assets/logo.webp"
    width="35"
    height="36"
    alt="Tapiz logo" />
</a>
@if (!isDemo) {
  <div class="breadcrumb">
    @if (teamName()) {
      <a
        [routerLink]="['/team', teamId()]"
        class="team-name"
        >{{ teamName() }}</a
      >
      <span>></span>
    }
    @if (edit()) {
      <span
        #textarea
        tapizAutofocus
        class="textarea"
        role="textbox"
        (clickOutside)="clickOutside()"
        (keydown.enter)="enter($event)"
        contenteditable
        >{{ name() }}</span
      >
    }
    @if (!edit() && isAdmin()) {
      <button
        title="Edit name"
        aria-label="Edit name"
        class="edit-name"
        (dblclick)="editName()">
        <span class="board-name">{{ name() }}</span>
      </button>
    }
    @if (!isAdmin()) {
      <span class="board-name">{{ name() }}</span>
    }
  </div>
}
<div class="header-end">
  @if (!isDemo && user()?.picture; as picture) {
    <img
      class="avatar"
      [ngSrc]="picture"
      width="32"
      height="32"
      alt="User avatar" />
  }

  @if (isAdmin() && !isDemo) {
    <button
      title="Settings"
      aria-label="Settings"
      class="button-action"
      (click)="settings()">
      <mat-icon>settings</mat-icon>
    </button>
  }
  <button
    title="Share"
    aria-label="Share"
    class="button-action"
    (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <button
    title="Download"
    aria-label="Download"
    class="button-action"
    (click)="export()">
    <mat-icon>file_download</mat-icon>
  </button>
  <div class="change-mode-button-holder">
    @if (boardMode() === 0) {
      <button
        title="Edit board"
        aria-label="Edit board"
        class="change-mode-button change-edit"
        (click)="changeBoardMode(1)">
        <mat-icon>mode_edit</mat-icon>
        Edit board
      </button>
    } @else {
      <button
        title="Edit board"
        aria-label="Edit board"
        class="change-mode-button change-close"
        (click)="changeBoardMode(0)">
        Close panel edition
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
</div>
