:host {
  align-items: center;
  background: var(--primary-color);
  cursor: default;
  display: flex;
  justify-content: space-between;
  left: 0;
  block-size: 48px;
  padding-inline: var(--spacing-4);
  position: fixed;
  top: 0;
  transition: background 0.5s ease;
  width: 100%;
}

.logo {
  flex-shrink: 0;
  margin-inline-end: var(--spacing-6);

  img {
    display: block;
  }
}

.breadcrumb {
  display: flex;
  gap: var(--spacing-2);
  inline-size: 100%;

  a {
    text-decoration: none;
  }

  span, a {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-1);
  }

  button,
  span,
  a {
    color: var(--white);
    font-size: 1rem;
  }
}

.board-name {
  font-weight: var(--font-weight-7);
}

.edit-name {
  display: flex;
  align-items: center;
  padding: 0;
}

.change-mode-button-holder {
  display: flex;
  margin-inline-start: var(--spacing-5);
}

.change-mode-button {
  align-items: center;
  display: flex;
  font-family:
    "Open Sans",
    -apple-system,
    system-ui,
    sans-serif;
  justify-content: center;
  block-size: 36px;
  padding: 0 var(--spacing-3);
  color: #5c5983;
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--radius-1);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-1);

  mat-icon {
    inline-size: 12px;
    block-size: 12px;
    font-size: 12px;
    margin-block-start: 1px;
  }

  &:hover {
    color: #121232;
    background: rgba(255, 255, 255, 1);
  }
}

.change-edit mat-icon {
  margin-inline-end: 2px;
}

.change-close mat-icon {
  margin-inline-start: 4px;
}

.header-end {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  margin-inline-start: auto;
  flex-shrink: 0;
  position: relative;

  .icon-svg {
    margin-right: 0.5rem;
  }
}

.textarea {
  color: var(--white);
  background: transparent;
  border: none;
  height: 100%;
  outline: none;
  overflow: hidden;
  resize: none;
}

.button-action {
  display: flex;
  align-items: center;
  color: white;
  border-radius: var(--radius-round);
  padding: var(--spacing-2);
  &:hover {
    transition: background 0.2s ease;
    background: rgba(0, 0, 0, 0.15);
  }
}

.avatar {
  border-radius: var(--radius-round);
  margin-inline-end: var(--spacing-5);
  img {
    display: block;
  }
}
