:host {
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: space-between;
  left: 1rem;
  position: fixed;
  top: 1rem;
  transition: background 0.5s ease;
}

.logo {
  flex-shrink: 0;
  margin-inline-end: var(--spacing-6);
  padding-right: var(--spacing-6);
  border-right: 1px solid var(--grey-30);

  img {
    display: block;
    width: 70px;
    margin-top: 6px;
  }
}

.breadcrumb {
  display: flex;
  gap: var(--spacing-2);
  inline-size: 100%;

  a {
    text-decoration: none;
  }

  span,
  a {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size-1);
  }

  button,
  span,
  a {
    color: var(--grey-90);
    font-size: 1rem;
  }
}

.board-name {
  font-weight: var(--font-weight-7);
  font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
}

.edit-name {
  display: flex;
  align-items: center;
  padding: 0;
}


.textarea {
  color: var(--white);
  background: transparent;
  border: none;
  height: 100%;
  outline: none;
  overflow: hidden;
  resize: none;
}
