<button
  class="home"
  aria-label="Home"
  [routerLink]="['/']">
  <tapiz-svg-icon
    icon="home"
    class="icon-svg"></tapiz-svg-icon>
</button>
@if (!isDemo) {
  <div class="mode">
    @if (edit()) {
      <span
        #textarea
        tapizAutofocus
        class="textarea"
        role="textbox"
        (clickOutside)="clickOutside()"
        (keydown.enter)="enter($event)"
        contenteditable
        >{{ name() }}</span
      >
    }
    @if (!edit() && isAdmin()) {
      <button
        title="Edit name"
        aria-label="Edit name"
        class="edit-name"
        (click)="editName()">
        <tapiz-svg-icon
          icon="edit"
          class="icon-svg"></tapiz-svg-icon>
        <span class="board-name">{{ name() }}</span>
      </button>
    }
    @if (!isAdmin()) {
      <span class="board-name">{{ name() }}</span>
    }
  </div>
}
<div class="header-end">
  @if (isAdmin() && !isDemo) {
    <button
      title="Settings"
      aria-label="Settings"
      class="button-action"
      (click)="settings()">
      <mat-icon>settings</mat-icon>
    </button>
  }
  <button
    title="Share"
    aria-label="Share"
    class="button-action"
    (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <button
    title="Download"
    aria-label="Download"
    (click)="export()">
    <tapiz-svg-icon
      icon="export"
      class="icon-svg"></tapiz-svg-icon>
  </button>
  <div class="change-mode-button-holder">
    <button
      title="Edit mode"
      aria-label="Edit mode"
      [class.active]="canvasMode() === 'editMode'"
      class="change-mode-button"
      (click)="changeCanvasMode('editMode')">
      Edit Mode
    </button>
    <button
      title="Compose mode"
      aria-label="Compose mode"
      [class.active]="canvasMode() === 'composeMode'"
      class="change-mode-button"
      (click)="changeCanvasMode('composeMode')">
      Compose Mode
    </button>
  </div>
</div>
