:host {
  display: block;
  padding: 0 var(--spacing-4) var(--spacing-4) var(--spacing-4);
  inline-size: 495px;
}

mat-form-field {
  width: 100%;
}

.vectors {
  margin-block-start: var(--spacing-4);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  overflow: auto;
  max-block-size: 493px;

  .vector {
    align-items: center;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    border: 2px solid transparent;

    &.selected {
      border-color: var(--brand);
    }
  }

  &::ng-deep {
    svg {
      display: block;
      width: 100%;
    }
  }
}
