:host {
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  pointer-events: auto;
}

tapiz-node-space {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.connector {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}
