:host {
  background: var(--blur-bg);
  backdrop-filter: blur(90px);
  border-radius: var(--radius-6);
  align-items: center;
  gap: var(--spacing-2);
  display: flex;
  padding: var(--size-1);
  position: absolute;
  inset-block-end: 4rem;
  inset-inline-end: var(--spacing-2);
  inline-size: 190px;
}

.title {
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0;
  transition: color 0.5s ease;
}

.note-visibility {
  padding: 0;

  span {
    font-size: var(--font-size-0);
    font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
    flex-shrink: 0;
  }

  button {
    align-items: center;
    display: flex;
    border-radius: var(--radius-6);
    justify-content: space-between;
    gap: 1rem;
    font-family:
      "Inter",
      -apple-system,
      system-ui,
      sans-serif;
  }

  .title {
    color: var(--grey-70);
    margin-left: 6px;
  }

  .value {
    border-radius: var(--radius-6);
    background: var(--grey-30);
    padding: var(--size-2) var(--size-3);
    color: var(--grey-90);
    width: 70px;
  }
}

.radio-menu {
  inline-size: 185px;
  padding: var(--spacing-1);

  .radio-menu-item:not(:last-child) {
    margin-bottom: var(--spacing-1);
  }
}

.radio-menu-item {
  text-align: left;
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--radius-2);

  p:first-child {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-1);
  }

  &.selected {
    background-color: var(--grey-20);
  }

  &:hover {
    background-color: var(--grey-20);
  }
}
