:host {
  background: var(--primary-color-background);
  border-radius: var(--radius-2);
  align-items: center;
  gap: var(--spacing-2);
  display: flex;
  padding: var(--size-2);
  position: absolute;
  inset-block-end: 6rem;
  inset-inline-end: var(--spacing-2);
  inline-size: 210px;
}

.title {
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0;
  transition: color 0.5s ease;
}

.note-visibility {
  padding: 0;

  span {
    font-size: var(--font-size-1);
    font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
  }

  button {
    display: flex;
    border-radius: 30px;
    background: var(--grey-20);
    justify-content: space-between;
    padding: var(--size-3);
    gap: 1rem;
    font-family:
      "Inter",
      -apple-system,
      system-ui,
      sans-serif;
  }

  .title {
    color: var(--gray-6);
  }

  .value {
    font-weight: var(--font-weight-bold);
  }
}

.radio-menu {
  inline-size: 185px;
  padding: var(--spacing-1);

  .radio-menu-item:not(:last-child) {
    margin-bottom: var(--spacing-1);
  }
}

.radio-menu-item {
  text-align: left;
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--radius-2);

  p:first-child {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-1);
  }

  &.selected {
    background-color: var(--purple-bbg);
  }

  &:hover {
    background-color: var(--purple-bbg);
  }
}
