@if (boardMode() === 0) {
  @if (!isDemo) {
    <button
      title="Settings"
      aria-label="Settings"
      class="button-action"
      (click)="settings()">
      <mat-icon svgIcon="settings"></mat-icon>
    </button>
  }
  <button
    title="Share"
    aria-label="Share"
    class="button-action"
    (click)="share()">
    <mat-icon svgIcon="share"></mat-icon>
  </button>
  <button
    title="Download"
    aria-label="Download"
    class="button-action"
    (click)="export()">
    <mat-icon svgIcon="download"></mat-icon>
  </button>
}

@if (allowSwitchMode()) {
  <div class="change-mode-button-holder">
    @if (boardMode() === 0) {
      <button
        title="Edit board"
        aria-label="Edit board"
        class="change-mode-button change-edit"
        (click)="changeBoardMode(1)">
        Edit board
      </button>
    } @else {
      <button
        title="Edit board"
        aria-label="Edit board"
        class="change-mode-button change-close"
        (click)="changeBoardMode(0)">
        Close board edition
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
}

@if (boardMode() === 0 && !isDemo && showUsers() && users().length > 0) {
  <button class="user-count">
    <mat-icon svgIcon="user"></mat-icon>
    <span class="user-hover">{{ users().length + 1 }} Users</span>
  </button>
}
