.title {
  align-items: center;
  background-color: #5fb0b7;
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-family:
    "Ubuntu",
    -apple-system,
    system-ui,
    sans-serif;
  padding: var(--spacing-2);
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
  white-space: pre-wrap;
  font-size: var(--font-size-5);
}

.textarea {
  background: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  padding: var(--spacing-1);
  resize: none;
  width: 100%;
  font-size: var(--font-size-5);
}

:host {
  border: 2px dashed #5fb0b7;
  border-radius: 36px;
  cursor: grab;
  padding: 1rem;
  position: absolute;

  &.focus {
    border-color: #a672f8;

    .title {
      background-color: #a672f8;
    }
  }

  &.voting {
    cursor: crosshair;
  }

  &.highlight {
    z-index: var(--board-hightlight-node-layer);
  }
}

.vote {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-2);
  text-align: center;
  font-size: var(--font-size-3);
}
