@if (viewModel$ | async; as vm) {
  <div class="title">
    @if (vm.edit) {
      <span
        #textarea
        class="textarea"
        role="textbox"
        (input)="setText($event)"
        (keydown.enter)="enter($event)"
        (focus)="selectTextarea($event)"
        contenteditable
        >{{ vm.editText }}</span
      >
    }
    @if (!vm.edit) {
      {{ vm.group.content.title }}
      @if (vm.votes > 0) {
        <div class="vote">
          {{ vm.votes }}
        </div>
      }
    }
  </div>
  <team-up-resize-single [node]="vm.group" />
}
