.user-actions {
  align-items: center;
  display: flex;
  margin-top: 1rem;
}

.board-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem;
}

.board-bg {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: flex-end;
  padding: 1rem;
}

.board-item {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(232, 233, 234, 1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.board-extra {
  display: flex;
  justify-content: flex-end;
  padding-block-start: var(--spacing-1);
}

.board-title {
  text-decoration: none;
  color: currentColor;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}

.menu-item {
  white-space: nowrap;
}

.starred {
  padding: 0;
  position: absolute;
  inset-block-start: var(--spacing-2);
  inset-inline-end: var(--spacing-2);
  color: white;
}

.board-options {
  display: flex;
  margin-block-end: var(--spacing-4);
  justify-content: flex-end;
}
