<form
  autocomplete="off"
  [formGroup]="form"
  (submit)="submit()">
  <h1>Panel settings</h1>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      formControlName="title"
      matInput
      type="text" />
  </mat-form-field>

  <mat-checkbox
    color="primary"
    [formControl]="overwriteCardColor">
    Overwrite card color
  </mat-checkbox>

  <mat-form-field *ngIf="overwriteCardColor.value">
    <mat-label>Card color</mat-label>
    <input
      formControlName="color"
      matInput
      type="color" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Background color</mat-label>
    <input
      formControlName="backgroundColor"
      matInput
      type="color" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Font color</mat-label>
    <input
      formControlName="fontColor"
      matInput
      type="color" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Font size</mat-label>
    <input
      formControlName="fontSize"
      matInput
      type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Border color</mat-label>
    <input
      formControlName="borderColor"
      matInput
      type="color" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Border width</mat-label>
    <input
      formControlName="borderWidth"
      matInput
      type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Border radius</mat-label>
    <input
      formControlName="borderRadius"
      matInput
      type="number" />
  </mat-form-field>

  <div class="actions">
    <button
      class="submit"
      type="submit"
      mat-raised-button
      color="primary">
      Save
    </button>
    <button
      (click)="cancel()"
      class="cancel"
      type="button"
      mat-raised-button
      color="warn">
      Cancel
    </button>
  </div>
</form>
