<svg
  class="dot-background"
  opacity="1">
  <defs>
    <pattern
      id="dots"
      #dots
      [attr.width]="smallScale()"
      [attr.height]="smallScale()"
      patternUnits="userSpaceOnUse">
      <g>
        <circle
          cx="1"
          cy="1"
          r="1"
          [attr.fill]="dotsColor()"></circle>
      </g>
    </pattern>
    <pattern
      [attr.width]="bigScale()"
      [attr.height]="bigScale()"
      patternUnits="userSpaceOnUse">
      <line
        stroke="#c8ccce"
        stroke-width="1"></line>
      <line
        stroke="#c8ccce"
        stroke-width="1"></line>
    </pattern>
  </defs>
  <g transform="translate(0, 0)">
    <rect
      width="100%"
      height="100%"
      [attr.fill]="backgroundColor()"></rect>
    <rect
      width="100%"
      height="100%"
      fill="url(#dots)"></rect>
  </g>
</svg>

<tapiz-title [title]="boardTitle()"></tapiz-title>
<div
  [class.participate-mode]="boardMode() === 0"
  [class.edit-mode]="boardMode() === 1"
  [class.loading]="!loaded()"
  class="container">
  @if (loadingBar()) {
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" />
    </div>
  }

  @defer {
    <tapiz-header />
    <tapiz-board-header-options [allowSwitchMode]="!isReadonlyUser()" />
    @if (!isDemo) {
      <tapiz-users />
    }
    @if (!isReadonlyUser()) {
      <tapiz-board-toolbar />
    }

    @if (drawing()) {
      <tapiz-drawing-options />
    }
    @if (search()) {
      <tapiz-search-options />
    }

    @if (timer(); as timer) {
      <tapiz-timer [timer]="timer" />
    }
  }
  <div
    class="work-layer"
    #workLayer>
    @if (boardId$ | async) {
      <tapiz-overlay></tapiz-overlay>
      <tapiz-zone></tapiz-zone>
      @if (!isDemo) {
        <tapiz-cursors></tapiz-cursors>
      }
      @defer (on immediate) {
        <tapiz-arrows-wrapper />
        <tapiz-nodes />
        <tapiz-live-reaction-wall />
        <tapiz-portal-target name="editor-portal" />
      }
    }
  </div>
  @defer {
    @if (!isDemo) {
      <div class="column-buttons">
        <tapiz-follow-user />
        <tapiz-stop-highlight />
      </div>
    } @else {
      <tapiz-demo-intro />
    }

    @if (!isReadonlyUser()) {
      <tapiz-context-menu />
    }
    <tapiz-board-context-menu />
    <tapiz-portal-target name="node-toolbar" />
    <tapiz-comments />
    @if (!isReadonlyUser() && boardMode() === 0 && !this.anonymousMode()) {
      <tapiz-notes-visibility />
    }
    <tapiz-zoom-control />
    <tapiz-board-nodes-align />
    <tapiz-popup-portal />
    <tapiz-set-board-center />
  }
</div>

@if (!loaded()) {
  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate" />
  </div>
}

<tapiz-note-height-calculator />
