<tapiz-title [title]="boardTitle()"></tapiz-title>
<div
  [class.participate-mode]="boardMode() === 0"
  [class.edit-mode]="boardMode() === 1"
  [class.loading]="!loaded()"
  class="container">
  @if (loadingBar()) {
    <div class="loading-bar">
      <mat-progress-bar mode="indeterminate" />
    </div>
  }

  @defer {
    <tapiz-header />
    @if (!isDemo) {
      <tapiz-users />
    }
    <tapiz-board-toolbar />
    @if (drawing()) {
      <tapiz-drawing-options />
    }
    @if (search()) {
      <tapiz-search-options />
    }
  }
  <div
    class="work-layer"
    #workLayer>
    @if (boardId$ | async) {
      <tapiz-overlay></tapiz-overlay>
      <tapiz-zone></tapiz-zone>
      @if (!isDemo) {
        <tapiz-cursors></tapiz-cursors>
      }
      @defer (on immediate) {
        <tapiz-nodes />
      }
    }
  </div>
  @defer {
    @if (!isDemo) {
      <tapiz-follow-user />
      <tapiz-stop-highlight />
    } @else {
      <tapiz-demo-intro />
    }

    <tapiz-context-menu />
    <tapiz-board-context-menu />
    <tapiz-node-toolbar />
    <tapiz-comments />
    <tapiz-zoom-control />
    <tapiz-board-nodes-align />
  }
</div>

@if (!loaded()) {
  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate" />
  </div>
}

<div id="size-calculator"></div>
