:host {
  --header-height: 55px;
  height: 100vh;
}

.wrapper {
  height: calc(100vh - var(--header-height));
  display: flex;
  inline-size: 100%;
}

.header {
  width: 100%;
  height: var(--header-height);
  padding-inline: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Preserve size of content, avoid blink on page change */
.content {
  inline-size: 100%;
}

.navigation-menu {
  height: calc(100vh - var(--header-height));
  min-width: 240px;
  padding-block-start: var(--spacing-4);
  padding-inline: var(--spacing-4);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .spaces {
    padding-inline-start: var(--spacing-4);
  }
  .menu-option {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    text-align: left;
    position: relative;
    border-radius: var(--radius-6);
    a {
      display: block;
      text-decoration: none;
      font-size: var(--font-size-14);
      padding: var(--spacing-2) var(--spacing-4);
      inline-size: 100%;
    }
    tapiz-team-menu,
    tapiz-space-menu {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-end: 0;
      transform: translateY(-50%);
    }
    &:hover,
    &.active {
      background-color: var(--grey-20);
    }
  }
}

.inline-end-header {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: var(--spacing-2);

  .name {
    color: var(--brand);
  }

  img {
    margin-inline-end: var(--spacing-2);
    margin-top: 10px;
    width: 70px;
  }
}

.teams {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--spacing-4);
  border-block-start: 1px solid var(--grey-20);

  h4 {
    align-items: center;
    margin: 0;
    margin-block-end: var(--spacing-2);
    justify-content: space-between;
    gap: var(--spacing-1);
    display: flex;
    width: 100%;
    font-size: var(--font-size-16);
    font-weight: 600;
    padding-left: var(--spacing-3);

    button {
      height: 40px;
      width: 40px;
      background: var(--grey-20);
      border-radius: var(--radius-6);
      .mat-icon {
        padding: 0 8px;
      }
      &:hover {
        background: var(--grey-30);
      }
    }
  }
}

.avatar {
  border-radius: var(--radius-round);
  img {
    display: block;
  }
}

.menu-option {
  tapiz-space-menu,
  tapiz-team-menu {
    display: none;
  }

  &:hover {
    tapiz-space-menu,
    tapiz-team-menu {
      display: block;
    }
  }
}
