<div class="header">
  <a
    class="logo"
    routerLink="/">
    <img
      priority="true"
      ngSrc="/assets/logo-45.webp"
      width="45"
      height="47"
      alt="Tapiz logo" />
    <span class="name">Tapiz</span>
  </a>
  <div class="inline-end-header">
    @if (invitations().length) {
      <button
        [matBadge]="invitations().length"
        matBadgeColor="warn"
        (click)="openInvitationDialog()"
        type="button">
        <mat-icon>mail</mat-icon>
      </button>
    }

    <tapiz-user-notifications />

    <button [matMenuTriggerFor]="menu">
      @if (user()?.picture; as picture) {
        <img
          class="avatar"
          [ngSrc]="picture"
          width="32"
          height="32"
          alt="User avatar" />
      } @else {
        <mat-icon>person</mat-icon>
      }
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="deleteAccount()">
        <mat-icon>person_remove</mat-icon>
        <span>Delete account</span>
      </button>
      <button
        mat-menu-item
        (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="wrapper">
  <nav class="navigation-menu">
    <ul>
      <li>
        <a
          class="menu-option"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >All boards</a
        >
      </li>
      <li>
        <a
          class="menu-option"
          routerLink="/starred"
          routerLinkActive="active"
          >Starred</a
        >
      </li>
    </ul>
    <div class="teams">
      <h4>
        Teams
        <button
          tuIconButton
          size="small"
          (click)="openCreateTeamDialog()"
          aria-label="Create team">
          <mat-icon>add</mat-icon>
        </button>
      </h4>
      <ul>
        @for (team of teams(); track team.id) {
          <li>
            <a
              class="menu-option"
              [routerLink]="['/team', team.id]"
              routerLinkActive="active"
              >{{ team.name }}</a
            >
          </li>
        }
      </ul>
    </div>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
