@if (viewModel$ | async; as vm) {
  <div class="top-info">
    @if (vm.comments) {
      <button
        type="button"
        class="comments"
        (click)="openComments()">
        {{ vm.comments }}

        <mat-icon>comments</mat-icon>
      </button>
    }

    @if (vm.votes > 0) {
      <div class="vote">
        {{ vm.votes }}
      </div>
    }
  </div>
  @if (vm.edit) {
    <textarea
      #textarea
      maxlength="140"
      (input)="setText($event)"
      (focus)="selectTextarea($event)"
      >{{ vm.editText }}</textarea
    >
  }
  @if (!vm.edit) {
    <div class="text">{{ vm.note.content.text }}</div>
  }
  <div
    class="name"
    [title]="vm.username">
    {{ vm.username }}
  </div>
  <div class="characters">{{ vm.note.content.text.length }}/140</div>
  @for (emoji of vm.note.content.emojis; track emoji) {
    <div
      class="emoji"
      [style.left.px]="emoji.position.x"
      [style.top.px]="emoji.position.y">
      {{ emoji.unicode }}
    </div>
  }
  @if (vm.visible) {
    <canvas
      [teamUpDrawing]="vm.note.content.drawing"
      (drawing)="setDrawing($event)"
      width="300"
      height="300"></canvas>
  }
}
