<ng-container *ngIf="viewModel$ | async as vm">
  <div
    *ngIf="vm.votes > 0"
    class="vote">
    {{ vm.votes }}
  </div>
  <ng-container *ngIf="vm.edit">
    <textarea
      #textarea
      maxlength="140"
      (input)="setText($event)"
      (focus)="selectTextarea($event)"
      >{{ vm.editText }}</textarea
    >
  </ng-container>

  <ng-container *ngIf="!vm.edit">
    <div class="text">{{ vm.note.text }}</div>
  </ng-container>

  <div
    class="name"
    [title]="vm.username">
    {{ vm.username }}
  </div>
  <div class="characters">{{ vm.note.text.length }}/140</div>

  <div
    *ngFor="let emoji of vm.note.emojis"
    class="emoji"
    [style.left.px]="emoji.position.x"
    [style.top.px]="emoji.position.y">
    {{ emoji.unicode }}
  </div>
  <canvas
    *ngIf="vm.visible"
    [tuDrawing]="vm.note.drawing"
    (drawing)="setDrawing($event)"
    width="300"
    height="300"></canvas>
</ng-container>
