<div class="board-options">
  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select
      [value]="sortBy()"
      (valueChange)="changeSortBy($event)">
      <mat-option value="-createdAt">Newest First</mat-option>
      <mat-option value="createdAt">Oldest First</mat-option>
      <mat-option value="-lastAccess">Recently Accessed</mat-option>
      <mat-option value="lastAccess">Least Recently Accessed</mat-option>
      <mat-option value="name">Name</mat-option>
      <mat-option value="-name">Reverse Name</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="board-list">
  <div
    class="board-item"
    *rxFor="let board of sortedBoards(); trackBy: 'id'">
    <div
      (click)="goBoard(board)"
      class="board-bg"
      [teamUpBoardIdToColor]="board.id">
      <a
        class="board-title"
        [routerLink]="['/board/', board.id]"
        >{{ board.name }}</a
      >
    </div>
    <div class="board-extra">
      <button
        type="button"
        title="Settings"
        [cdkMenuTriggerFor]="menu"
        mat-icon-button>
        <mat-icon fontIcon="settings"></mat-icon>
      </button>

      <ng-template #menu>
        <div
          class="menu"
          cdkMenu>
          @if (!board.starred) {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Star"
              (cdkMenuItemTriggered)="addStar(board)">
              <mat-icon fontIcon="star"></mat-icon>
              Star
            </button>
          }
          @if (board.starred) {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Unstar"
              (cdkMenuItemTriggered)="removeStar(board)">
              <mat-icon fontIcon="star"></mat-icon>
              Unstar
            </button>
          }
          @if (board.isAdmin) {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Rename board"
              (cdkMenuItemTriggered)="renameBoard(board)">
              <mat-icon fontIcon="edit"></mat-icon>
              Rename board
            </button>
          }
          @if (board.isAdmin) {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Transfer board"
              (cdkMenuItemTriggered)="transferBoard(board)">
              <mat-icon fontIcon="drive_file_move"></mat-icon>
              Transfer board
            </button>
          }
          <button
            cdkMenuItem
            class="menu-item menu-item-icon"
            title="Duplicate board"
            (cdkMenuItemTriggered)="duplicateBoard(board)">
            <mat-icon fontIcon="content_copy"></mat-icon>
            Duplicate
          </button>
          @if (board.isAdmin) {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Delete board"
              (cdkMenuItemTriggered)="deleteBoard(board)">
              <mat-icon fontIcon="delete"></mat-icon>
              Delete board
            </button>
          }
          @if (board.role === 'guest') {
            <button
              cdkMenuItem
              class="menu-item menu-item-icon"
              title="Leave project"
              (cdkMenuItemTriggered)="leaveBoard(board)">
              <mat-icon fontIcon="directions_walk"></mat-icon>
              Leave project
            </button>
          }
        </div>
      </ng-template>
    </div>
  </div>
</div>
