<form
  class="form"
  [formGroup]="form">
  <tapiz-color-picker
    [color]="form.get('color')?.value ?? defaultColor"
    mode="RGBA"
    (changed)="updateColor($event)" />
  <input
    formControlName="size"
    type="range"
    class="range"
    min="1"
    max="72"
    value="1" />

  <button
    (click)="undo()"
    mat-mini-fab
    color="primary"
    aria-label="Undo">
    <mat-icon>undo</mat-icon>
  </button>

  <button
    (click)="redo()"
    mat-mini-fab
    color="primary"
    aria-label="Redo">
    <mat-icon>redo</mat-icon>
  </button>

  <button
    (click)="clean()"
    mat-mini-fab
    color="primary"
    aria-label="Clean">
    <mat-icon>delete</mat-icon>
  </button>
</form>
