<tapiz-node-space
  [node]="node()"
  [resize]="true"
  [rotate]="false"
  [showOutline]="focus()"
  [enabled]="!edit()"
  [cursor]="cursor()"
  (dropped)="onDrop()"
  (dragging)="onDrag()">
  <div class="inner">
    <div class="top-info">
      @if (comments()) {
        <button
          type="button"
          class="comments"
          (click)="openComments()">
          {{ comments() }}

          <mat-icon>comments</mat-icon>
        </button>
      }

      @if (votes() > 0) {
        <div class="vote">
          {{ votes() }}
        </div>
      }
    </div>
    @if (edit()) {
      <tapiz-editor-portal [node]="node()">
        <tapiz-editor-view
          [class.readonly]="!edit()"
          [defaultTextColor]="defaultTextColor()"
          #editorView="editorView"
          [node]="node()"
          [toolbar]="edit()"
          [content]="initialText()"
          [focus]="edit()"
          [mentions]="mentions()"
          customClass="note-rich-text"
          (mentioned)="onMention($event)"
          (contentChange)="setText($event)" />
      </tapiz-editor-portal>
    } @else {
      <div
        class="rich-text"
        [innerHTML]="node().content.text | safeHtml"></div>
    }
    <div
      class="name"
      [title]="username()">
      {{ username() }}
    </div>
    @for (emoji of node().content.emojis; track emoji) {
      <div
        class="emoji"
        [style.left.px]="emoji.position.x"
        [style.top.px]="emoji.position.y">
        {{ emoji.unicode }}
      </div>
    }
    @if (visible()) {
      <canvas
        [tapizDrawing]="node().content.drawing"
        (drawing)="setDrawing($event)"
        [width]="node().content.width"
        [height]="node().content.height"></canvas>
    }
  </div>
</tapiz-node-space>
