.title {
  align-items: center;
  background-color: var(--brand);
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
  padding: var(--spacing-2);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0px;
  user-select: none;
  white-space: pre-wrap;
  font-size: var(--font-size-5);
}

.textarea {
  background: transparent;
  border: none;
  outline: none;
  overflow: hidden;
  padding: var(--spacing-1);
  resize: none;
  width: 100%;
  font-size: var(--font-size-5);
}

:host {
  display: block;
  border: 2px dashed var(--grey-40);
  border-radius: 36px;
  cursor: grab;
  padding: 1rem;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;

  &.focus {
    border-color: var(--brand);
  }

  &.voting, &.voting .title {
    cursor: crosshair;
  }
}

.vote {
  background-color: var(--white);
  border-radius: var(--radius-6);
  text-align: center;
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--black);
  width: 28px;
}
