:host {
  cursor: default;
  max-inline-size: 300px;
  position: fixed;
  right: 1rem;
  top: 70px;
}

.right-col-toolbar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 300px;
  padding: var(--size-3) var(--size-2);
  transition: background 0.5s ease;

  &.users {
    max-width: 300px;
    max-block-size: calc(100vh - 300px);
  }

  &:last-child {
    margin-bottom: 0;
  }
  
  &:hover {
    .username {
      opacity: 1;
    }
  }
}

.icon-svg {
  flex-shrink: 0;
  transition: fill 0.5s ease;
}

.icon-next {
  fill: var(--primary-color);
  height: 16px;
  width: 16px;
}

.user-container {
  flex: 1;
  overflow-y: auto;
  font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
}

.title-container {
  align-items: center;
  background: none;
  border: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5rem 0;
  padding: 0;
  transition:
    background 0.5s ease,
    color 0.5s ease;
}

.user {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: 48px;
  padding: 0;
  font-size: 1rem;

  &.offline {
    opacity: 0.2;
  }

  .username {
    display: flex;
    align-items: center;
    height: 24px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    max-width: calc(100% - 2rem);
    transition: color 0.5s ease;
    opacity: 0;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family:
        "Inter",
        -apple-system,
        system-ui,
        sans-serif;
    }
  }

  .myself {
    flex-shrink: 0;
  }

  &.me {
    color: var(--primary-color);
    flex-shrink: 0;
    margin-bottom: 0;
    padding-left: 0;

    .icon-svg {
      fill: var(--primary-color);
      background: var(--grey-20);
      border-radius: 48px;
      width: 48px;
      height: 48px;
      padding: 10px;
    }
  }

  &.active {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    ::ng-deep svg {
      fill: var(--primary-color);
    }
  }
}

.title {
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0;
  transition: color 0.5s ease;
}

.note-visibility {
  padding: 0;
  
  span {
    font-size: var(--font-size-1);
    font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
  }
  
  button {
    display: flex;
    border-radius: 30px;
    background: var(--grey-20);
    justify-content: space-between;
    padding: var(--size-3);
    gap: 1rem;
    font-family:
      "Inter",
      -apple-system,
      system-ui,
      sans-serif;
  }

  .title {
    color: var(--gray-6);
  }

  .value {
    font-weight: var(--font-weight-bold);
  }
}

.radio-menu {
  inline-size: 185px;
  padding: var(--spacing-1);

  .radio-menu-item:not(:last-child) {
    margin-bottom: var(--spacing-1);
  }
}

.radio-menu-item {
  text-align: left;
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--radius-2);

  p:first-child {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-1);
  }

  &.selected {
    background-color: var(--purple-bbg);
  }

  &:hover {
    background-color: var(--purple-bbg);
  }
}

.avatar {
  border-radius: var(--radius-round);
  img {
    display: block;
  }
}
