@if (boardMode() === 0) {
  <div class="right-col-toolbar users">
    <button class="title-container">
      <!--h2 class="title">
        People
        @if (showUsers() && users().length > 0) {
          <span class="count">({{ users().length + 1 }})</span>
        }
      </h2-->
    </button>
    <div class="user-container">
      @if (showUsers()) {
        @for (user of users(); track user.id) {
          <button
            [cdkMenuTriggerFor]="menu"
            [cdkMenuTriggerData]="{ user: user }"
            [class.offline]="!user.connected"
            [class.active]="user.id === userHighlight()"
            class="user">
            <p class="username">
              <span
                class="name"
                [title]="user.name"
                >{{ user.name }}</span
              >
            </p>
            @if (user.picture) {
              <img
                class="avatar"
                [ngSrc]="user.picture"
                width="48"
                height="48"
                [alt]="user.name" />
            } @else {
              <mat-icon
                class="icon-svg"
                svgIcon="user"></mat-icon>
            }
          </button>
        }
      } @else {
        <div class="no-users">
          <p>Anonymous mode</p>
        </div>
      }
    </div>
    @if (currentUser(); as user) {
      <button
        class="user me"
        [cdkMenuTriggerFor]="menu"
        [cdkMenuTriggerData]="{ user: currentUser() }">
        <p class="username">
          <span
            class="name"
            [title]="user.name"
            >{{ user.name }}</span
          >
          <span class="myself">(me)</span>
        </p>
        <mat-icon
          class="icon-svg"
          svgIcon="user"></mat-icon>
      </button>
    }
  </div>
}

<ng-template
  #menu
  let-user="user">
  <div
    class="menu"
    cdkMenu>
    @if (currentUser()?.id !== user.id) {
      <button
        cdkMenuItem
        class="menu-item"
        (cdkMenuItemTriggered)="follow(user.id)">
        @if (isFollowing()) {
          Unfollow
        } @else {
          Follow
        }
      </button>

      <button
        cdkMenuItem
        class="menu-item"
        (cdkMenuItemTriggered)="goToUser(user.id)">
        Go to user
      </button>
    }
    <button
      cdkMenuItem
      class="menu-item"
      (cdkMenuItemTriggered)="toggleUserHighlight(user.id)">
      Hightlight
    </button>
    <button
      cdkMenuItem
      class="menu-item"
      (cdkMenuItemTriggered)="showVotes(user.id)">
      Show votes
    </button>
  </div>
</ng-template>
