:host {
  padding: 1rem;
  display: block;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-2);
  border-bottom: 1px solid var(--accent--ui);
}
