<div class="toolbar">
  @if (boardMode() === 1) {
    <ng-container [ngTemplateOutlet]="selectButton"></ng-container>
    <ng-container [ngTemplateOutlet]="templatesButton"></ng-container>
  }
  @if (boardMode() === 0) {
    @switch (popup()) {
      @case ('tools') {
        <ng-container [ngTemplateOutlet]="extrasButton"></ng-container>
      }
      @default {
        <ng-container
          [ngTemplateOutlet]="extrasButton"
          [ngTemplateOutletContext]="{ icon: popup() }"></ng-container>
      }
    }
    <hr />
    <ng-container [ngTemplateOutlet]="selectButton"></ng-container>
    <ng-container [ngTemplateOutlet]="groupButton"></ng-container>
  }

  <ng-container [ngTemplateOutlet]="areaButton"></ng-container>

  @if (boardMode() === 0) {
    <hr />
    <ng-container [ngTemplateOutlet]="voteButton"></ng-container>
  }

  <ng-container [ngTemplateOutlet]="tokenButton"></ng-container>
  <ng-container [ngTemplateOutlet]="cocomaterialButton"></ng-container>

  @if (boardMode() === 0) {
    <ng-container [ngTemplateOutlet]="emojiButton"></ng-container>
    <ng-container [ngTemplateOutlet]="liveReactionButton"></ng-container>
  }

  <ng-container [ngTemplateOutlet]="drawButton"></ng-container>

  <hr />

  @if (boardMode() === 1) {
    <ng-container [ngTemplateOutlet]="panelButton"></ng-container>
    <ng-container [ngTemplateOutlet]="textButton"></ng-container>
    <ng-container [ngTemplateOutlet]="imageButton"></ng-container>
    <hr />
  }

  <ng-container [ngTemplateOutlet]="searchButton"></ng-container>
</div>

@defer (prefetch on idle) {
  <div class="toolbar-container">
    @if (popup() === 'token') {
      <tapiz-token-selector
        (selectToken)="tokenSelected($event)"
        class="toolbar-popup">
      </tapiz-token-selector>
    }

    @if (popup() === 'tools') {
      <tapiz-tools
        (selectedTool)="toolsEvent($event)"
        class="toolbar-popup">
      </tapiz-tools>
    }

    @if (popup() === 'note') {
      <tapiz-notes
        class="toolbar-popup"
        [(noteColor)]="noteColor">
      </tapiz-notes>
    }

    @if (popup() === 'emoji') {
      <emoji-picker
        (emoji-click)="emojiSelected($event)"
        class="light toolbar-popup">
      </emoji-picker>
    }

    @if (popup() === 'templates') {
      <tapiz-template-selector
        (selected)="seletedTemplate()"
        class="toolbar-popup">
      </tapiz-template-selector>
    }

    @if (popup() === 'cocomaterial') {
      <tapiz-cocomaterial class="toolbar-popup"></tapiz-cocomaterial>
    }

    @if (popup() === 'live-reaction') {
      <tapiz-live-reaction class="toolbar-popup"></tapiz-live-reaction>
    }

    @if (popup() === 'image') {
      <tapiz-add-image
        class="toolbar-popup"
        (newImageUrl)="newImageUrl($event)"
        (newImageFile)="newImageFile($event)">
      </tapiz-add-image>
    }
  </div>
}

<ng-template #noteButton>
  <tapiz-board-toolbar-button
    icon="add"
    tooltip="Note"
    label="Note"
    [active]="popup() === 'note'"
    (clicked)="popupOpen('note')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #selectButton>
  <tapiz-board-toolbar-button
    icon="cursor"
    tooltip="Select"
    label="Select"
    [active]="!popup()"
    (clicked)="popupOpen('')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #templatesButton>
  <tapiz-board-toolbar-button
    icon="templates"
    tooltip="Templates"
    label="Templates"
    [active]="popup() === 'templates'"
    (clicked)="popupOpen('templates')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template
  #extrasButton
  let-icon="icon">
  <tapiz-board-toolbar-button
    [icon]="icon || 'add_simple'"
    tooltip="Extras"
    label="Extras"
    [active]="popup() === (icon ? icon : 'tools')"
    (clicked)="popupOpen('tools')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #groupButton>
  <tapiz-board-toolbar-button
    icon="group"
    tooltip="Group (G)"
    label="Group"
    [active]="popup() === 'group'"
    (clicked)="group()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #areaButton>
  <tapiz-board-toolbar-button
    icon="area"
    tooltip="Area Select  (Alt+click)"
    label="Area"
    [active]="popup() === 'select'"
    (clicked)="select()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #voteButton>
  <tapiz-board-toolbar-button
    icon="voting"
    tooltip="Vote Notes & Groups"
    label="Vote"
    [active]="popup() === 'vote'"
    (clicked)="vote()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #tokenButton>
  <tapiz-board-toolbar-button
    icon="token"
    tooltip="Token"
    label="Token"
    [active]="popup() === 'token'"
    (clicked)="token()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #cocomaterialButton>
  <tapiz-board-toolbar-button
    icon="coco"
    tooltip="Cocomaterial"
    label="Cocomaterial"
    [active]="popup() === 'cocomaterial'"
    (clicked)="togglePopup('cocomaterial')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #emojiButton>
  <tapiz-board-toolbar-button
    icon="emoji"
    tooltip="React to Notes"
    label="React to Notes"
    [active]="popup() === 'emoji'"
    (clicked)="emoji()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #liveReactionButton>
  <tapiz-board-toolbar-button
    icon="heart"
    tooltip="Live Reactions"
    label="Live Reactions"
    [active]="popup() === 'live-reaction'"
    (clicked)="togglePopup('live-reaction')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #drawButton>
  <tapiz-board-toolbar-button
    icon="edit"
    tooltip="Draw Notes & Panels"
    label="Draw Notes & Panels"
    [active]="popup() === 'draw'"
    (clicked)="draw()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #panelButton>
  <tapiz-board-toolbar-button
    icon="panel"
    tooltip="Panel"
    label="Panel"
    [active]="popup() === 'panel'"
    (clicked)="panel()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #textButton>
  <tapiz-board-toolbar-button
    icon="text"
    tooltip="Text"
    label="Text"
    [active]="popup() === 'text'"
    (clicked)="text()">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #imageButton>
  <tapiz-board-toolbar-button
    icon="image"
    tooltip="Image"
    label="Image"
    [active]="popup() === 'image'"
    (clicked)="togglePopup('image')">
  </tapiz-board-toolbar-button>
</ng-template>

<ng-template #searchButton>
  <tapiz-board-toolbar-button
    icon="search"
    tooltip="Search"
    label="Search"
    [active]="popup() === 'search'"
    (clicked)="search()">
  </tapiz-board-toolbar-button>
</ng-template>
