<div class="toolbar">
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'note'">
    <button
      aria-label="Note"
      (click)="note()"
      class="toolbar-button">
      <tapiz-svg-icon
        icon="add"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Note</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'select'">
    <button
      aria-label="Select"
      (click)="select()"
      class="toolbar-button">
      <mat-icon class="material-icons-outlined">crop_free</mat-icon>
    </button>
    <div class="toolbar-tooltip">Select</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'group'">
    <button
      aria-label="Group"
      class="toolbar-button"
      (click)="group()">
      <tapiz-svg-icon
        icon="template"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Group</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'vote'">
    <button
      aria-label="Vote Notes & Groups"
      class="toolbar-button"
      (click)="vote()">
      <tapiz-svg-icon
        icon="voting_chip"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Vote Notes & Groups</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'emoji'">
    <button
      aria-label="React to Notes"
      class="toolbar-button"
      (click)="emoji()">
      <tapiz-svg-icon
        icon="mood"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">React to Notes</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'draw'">
    <button
      aria-label="Draw Notes & Panels"
      class="toolbar-button"
      (click)="draw()">
      <tapiz-svg-icon
        icon="edit"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Draw Notes & Panels</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'cocomaterial'">
    <button
      aria-label="Cocomaterial"
      class="toolbar-button"
      (click)="cocomaterial()">
      <tapiz-svg-icon
        icon="cocomaterial"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Cocomaterial</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'image'">
    <button
      aria-label="Image"
      class="toolbar-button"
      (click)="togglePopup('image')">
      <tapiz-svg-icon
        icon="picture"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Image</div>
    @if (popup() === 'image') {
      <div class="toolbar-container">
        <div class="toolbar-popup image-popup">
          <tapiz-add-image
            (newImageUrl)="newImageUrl($event)"
            (newImageFile)="newImageFile($event)" />
        </div>
      </div>
    }
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'token'">
    <button
      aria-label="Token"
      (click)="token()"
      class="toolbar-button">
      <mat-icon class="material-icons-outlined">circle</mat-icon>
    </button>
    <div class="toolbar-tooltip">Token</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'estimation'">
    <button
      aria-label="Estimation"
      class="toolbar-button"
      (click)="estimation()">
      <mat-icon class="material-icons-outlined">style</mat-icon>
    </button>
    <div class="toolbar-tooltip">Estimation</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'text'">
    <button
      aria-label="Text"
      class="toolbar-button"
      (click)="text()">
      <tapiz-svg-icon
        icon="letter"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Text</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'panel'">
    <button
      aria-label="Panel"
      class="toolbar-button"
      (click)="panel()">
      <tapiz-svg-icon
        icon="panel"
        class="icon-svg"></tapiz-svg-icon>
    </button>
    <div class="toolbar-tooltip">Panel</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'poll'">
    <button
      aria-label="Poll"
      class="toolbar-button"
      (click)="poll()">
      <mat-icon class="material-icons-outlined">poll</mat-icon>
    </button>
    <div class="toolbar-tooltip">Poll</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'templates'">
    <button
      aria-label="Templates"
      class="toolbar-button"
      (click)="templateSelector()">
      <mat-icon class="material-icons-outlined">view_quilt</mat-icon>
    </button>
    <div class="toolbar-tooltip">Templates</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'search'">
    <button
      aria-label="Search"
      class="toolbar-button"
      (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <div class="toolbar-tooltip">Search</div>
  </div>
</div>

@defer (prefetch on idle) {
  @if (popup() === 'token') {
    <div class="tokens">
      <tapiz-token-selector (selectToken)="tokenSelected($event)" />
    </div>
  }

  @if (popup() === 'emoji') {
    <div class="emojis">
      <emoji-picker
        (emoji-click)="emojiSelected($event)"
        class="light" />
    </div>
  }

  @if (popup() === 'templates') {
    <div class="tokens">
      <tapiz-template-selector (selected)="seletedTemplate()" />
    </div>
  }
}
