:host {
  --toolbar-button-height: 3rem;
  --toolbar-button-width: 3rem;

  cursor: default;
  height: auto;
  display: flex;
  align-items: flex-start;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.toolbar {
  background: var(--primary-color-background);
  border-radius: var(--radius-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  padding: var(--size-2);
  transition: background 0.5s ease;
}

.toolbar-container {
  padding-inline-start: var(--spacing-2);
}

hr {
  height: 2px;
  border: 0;
  border-top: 1px solid #c4c1e3ff;
  font-size: 0;
  inline-size: 28px;
  margin-block: var(--spacing-1);
}

.toolbar-popup {
  background: var(--white);
  border: 1px solid var(--primary-color-background);
  border-radius: var(--radius-3);
  padding: var(--spacing-4);
  box-shadow: 0 0 15px 3px rgba(66, 62, 82, 0.1);
}
