:host {
  --toolbar-button-height: 3rem;
  --toolbar-button-width: 3rem;

  cursor: default;
  height: auto;
  display: flex;
  align-items: flex-start;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

mat-icon {
  inline-size: 24px;
  block-size: 24px;
}

.toolbar-tooltip {
  align-items: center;
  background: var(--grey-90);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  font-family:
    "Work Sans",
    -apple-system,
    system-ui,
    sans-serif;
  justify-content: center;
  left: 100%;
  min-height: 2rem;
  min-width: 4.125rem;
  opacity: 0;
  padding: 0.25rem;
  pointer-events: none;
  position: absolute;
  top: 8px;
  transition: all 0.5s ease;
  z-index: var(--board-tools-layer);
  white-space: nowrap;

  &::before {
    background: #1f1f1f;
    content: "";
    height: 10px;
    position: absolute;
    right: calc(100% - 5px);
    top: calc(50% - 5px);
    transform: rotate(45deg);
    width: 10px;
  }

  label {
    font-family:
      "Inter",
      -apple-system,
      system-ui,
      sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
  }
}

.toolbar-button-container {
  margin-block: 0;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.mt {
    margin-top: 2rem;
  }

  .toolbar-button:hover {
    background: var(--grey-30);
    .mat-icon {
      fill: var(--grey-90);
    }

    + .toolbar-tooltip {
      left: calc(100% + 0.5rem);
      opacity: 1;
      padding: 0 10px;
    }
  }

  &.active {
    background: var(--primary-color-button-bg);
    border-radius: var(--radius-6);
    .mat-icon {
      fill: white;
    }

    .toolbar-tooltip {
      display: none;
    }
    :hover {
      background: var(--primary-color-button-bg);
      .mat-icon {
        fill: white;
      }

      .toolbar-tooltip {
        display: none;
      }
    }
  }
}

.toolbar-button {
  align-items: center;
  background: none;
  border-radius: var(--radius-6);
  display: flex;
  height: var(--toolbar-button-height);
  justify-content: center;
  padding: 0;
  width: var(--toolbar-button-width);
  padding: var(--size-4) 0;
  .mat-icon {
    fill: var(--primary-color-button-bg);
  }
}

.toolbar {
  background: var(--primary-color-background);
  border-radius: var(--radius-6);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  padding: var(--size-2);
  transition: background 0.5s ease;
}

.toolbar-container {
  padding-inline-start: var(--spacing-2);
}

hr {
  height: 2px;
  border: 0;
  border-top: 1px solid #c4c1e3ff;
  font-size: 0;
  inline-size: 28px;
  margin-block: var(--spacing-1);
}

.toolbar-popup {
  background: var(--primary-color-background);
  border-radius: var(--radius-2);
  padding: var(--spacing-4);
}
