<div class="toolbar">
  <div
    class="toolbar-button-container"
    [class.active]="!popup()">
    <button
      aria-label="Select"
      class="toolbar-button"
      (click)="popupOpen('')">
      <mat-icon svgIcon="cursor"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Select</div>
  </div>

  @if (boardMode() === 1) {
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'templates'">
      <button
        aria-label="Templates"
        class="toolbar-button"
        (click)="templateSelector()">
        <mat-icon svgIcon="templates"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Templates</div>
    </div>
  }
  @if (boardMode() === 0) {
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'note'">
      <button
        aria-label="Note"
        (click)="note()"
        class="toolbar-button">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Note</div>
    </div>
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'group'">
      <button
        aria-label="Group"
        class="toolbar-button"
        (click)="group()">
        <mat-icon svgIcon="group"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Group</div>
    </div>
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'vote'">
      <button
        aria-label="Vote Notes & Groups"
        class="toolbar-button"
        (click)="vote()">
        <mat-icon svgIcon="voting"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Vote Notes & Groups</div>
    </div>
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'emoji'">
      <button
        aria-label="React to Notes"
        class="toolbar-button"
        (click)="emoji()">
        <mat-icon svgIcon="emoji"></mat-icon>
      </button>
      <div class="toolbar-tooltip">React to Notes</div>
    </div>
  }
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'draw'">
    <button
      aria-label="Draw Notes & Panels"
      class="toolbar-button"
      (click)="draw()">
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Draw Notes & Panels</div>
  </div>

  @if (boardMode() === 0) {
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'live-reaction'">
      <button
        aria-label="Live Reactions"
        class="toolbar-button"
        (click)="togglePopup('live-reaction')">
        <mat-icon svgIcon="heart"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Live Reactions</div>
    </div>
  }

  <hr />

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'panel'">
    <button
      aria-label="Panel"
      class="toolbar-button"
      (click)="panel()">
      <mat-icon svgIcon="panel"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Panel</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'text'">
    <button
      aria-label="Text"
      class="toolbar-button"
      (click)="text()">
      <mat-icon svgIcon="text"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Text</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'image'">
    <button
      aria-label="Image"
      class="toolbar-button"
      (click)="togglePopup('image')">
      <mat-icon svgIcon="image"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Image</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'cocomaterial'">
    <button
      aria-label="Cocomaterial"
      class="toolbar-button"
      (click)="togglePopup('cocomaterial')">
      <mat-icon svgIcon="coco"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Cocomaterial</div>
  </div>
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'token'">
    <button
      aria-label="Token"
      (click)="token()"
      class="toolbar-button">
      <mat-icon svgIcon="token"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Token</div>
  </div>

  @if (boardMode() === 0) {
    <hr />

    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'estimation'">
      <button
        aria-label="Estimation"
        class="toolbar-button"
        (click)="estimation()">
        <mat-icon svgIcon="estimation"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Estimation</div>
    </div>
    <div
      class="toolbar-button-container"
      [class.active]="popup() === 'poll'">
      <button
        aria-label="Poll"
        class="toolbar-button"
        (click)="poll()">
        <mat-icon svgIcon="poll"></mat-icon>
      </button>
      <div class="toolbar-tooltip">Poll</div>
    </div>
  }

  <hr />
  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'search'">
    <button
      aria-label="Search"
      class="toolbar-button"
      (click)="search()">
      <mat-icon svgIcon="search"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Search</div>
  </div>

  <div
    class="toolbar-button-container"
    [class.active]="popup() === 'select'">
    <button
      aria-label="Select"
      (click)="select()"
      class="toolbar-button">
      <mat-icon svgIcon="area"></mat-icon>
    </button>
    <div class="toolbar-tooltip">Area select</div>
  </div>
</div>

@defer (prefetch on idle) {
  <div class="toolbar-container">
    @if (popup() === 'token') {
      <tapiz-token-selector
        (selectToken)="tokenSelected($event)"
        class="toolbar-popup" />
    }

    @if (popup() === 'note') {
      <tapiz-notes
        class="toolbar-popup"
        [(noteColor)]="noteColor" />
    }

    @if (popup() === 'emoji') {
      <emoji-picker
        (emoji-click)="emojiSelected($event)"
        class="light toolbar-popup" />
    }

    @if (popup() === 'templates') {
      <tapiz-template-selector
        (selected)="seletedTemplate()"
        class="toolbar-popup" />
    }

    @if (popup() === 'cocomaterial') {
      <tapiz-cocomaterial class="toolbar-popup" />
    }

    @if (popup() === 'live-reaction') {
      <tapiz-live-reaction class="toolbar-popup" />
    }

    @if (popup() === 'image') {
      <tapiz-add-image
        class="toolbar-popup"
        (newImageUrl)="newImageUrl($event)"
        (newImageFile)="newImageFile($event)" />
    }
  </div>
}
