:host {
  display: block;
  inline-size: 500px;
}

.upload-image {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100px;
  border-block-end: 1px solid var(--gray-3);
  margin-block-end: var(--spacing-4);
}

.add-image-row {
  display: flex;
  gap: var(--spacing-4);

  input {
    inline-size: 100%;
  }
}
