<ng-container *ngIf="viewModel$ | async as vm">
  <div
    class="toolbar"
    *ngIf="vm.toolbar">
    <input
      type="color"
      [value]="vm.node.content.color"
      (change)="newColor($event)" />

    <input
      type="number"
      [value]="vm.node.content.size"
      (change)="newSize($event)" />
  </div>
  <ng-container *ngIf="vm.edit">
    <span
      #textarea
      class="textarea text"
      role="textbox"
      contenteditable
      >{{ vm.editText }}</span
    >
  </ng-container>
  <ng-container *ngIf="!vm.edit">
    <span class="text">{{ vm.node.content.text }}</span>
  </ng-container>
</ng-container>

<div teamUpResizeHandler></div>
