<team-up-title title="Boards"></team-up-title>

<ng-container *ngIf="model$ | async as vm">
  <form
    class="col primary"
    (submit)="onSubmit(createBoard.value)">
    <div class="team-logo">
      <span>Team Up</span>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Create new board</mat-label>
      <input
        #createBoard
        matInput />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary">
      Create Board
    </button>
    <div class="user-actions">
      <button
        type="button"
        class="logout"
        (click)="logout()"
        mat-raised-button
        color="warn">
        Logout
      </button>
      <button
        type="button"
        title="Delete account"
        mat-fab
        color="warn"
        (click)="deleteAccount()"
        aria-label="Delete account">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </form>
  <div class="col">
    <h1 matSubheader>Boards</h1>
    <div class="board-list">
      <div
        class="board-item"
        *ngFor="let board of vm.boards">
        <div
          (click)="goBoard(board)"
          class="board-bg"
          [tuBoardIdToColor]="board.id">
          <a
            class="board-title"
            [routerLink]="['/board/', board.id]"
            >{{ board.name }}</a
          >
        </div>
        <div class="board-extra">
          <button
            type="button"
            title="Settings"
            [cdkMenuTriggerFor]="menu"
            mat-icon-button>
            <mat-icon fontIcon="settings"></mat-icon>
          </button>

          <ng-template #menu>
            <div
              class="menu"
              cdkMenu>
              <button
                cdkMenuItem
                class="menu-item menu-item-icon"
                title="Duplicate board"
                (cdkMenuItemTriggered)="duplicateBoard(board)">
                <mat-icon fontIcon="content_copy"></mat-icon>
                Duplicate
              </button>
              <button
                cdkMenuItem
                class="menu-item menu-item-icon"
                title="Delete board"
                *ngIf="board.is_owner"
                (cdkMenuItemTriggered)="deleteBoard(board)">
                <mat-icon fontIcon="delete"></mat-icon>
                Delete board
              </button>
              <button
                cdkMenuItem
                class="menu-item menu-item-icon"
                title="Leave project"
                *ngIf="!board.is_owner"
                (cdkMenuItemTriggered)="leaveBoard(board)">
                <mat-icon fontIcon="directions_walk"></mat-icon>
                Leave project
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
