:host {
  padding: 1rem;
  display: block;
}

team-up-modal-header {
  margin-block-end: var(--spacing-4);
}

.user-votes {
  display: flex;
  flex-direction: column;
}

.user-vote  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);

  &:not(:last-child) {
    border-block-end: 1px solid var(--gray-3);
  }
}

.votes {
  font-size: var(--font-size-3);
}
