<ng-container *ngIf="model$ | async as vm">
  <form
    class="col primary"
    (submit)="onSubmit(createBoard.value)">
    <div class="team-logo">
      <span>Team Up</span>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Create new board</mat-label>
      <input
        #createBoard
        matInput />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary">
      Create Board
    </button>
    <div class="user-actions">
      <button
        type="button"
        class="logout"
        (click)="logout()"
        mat-raised-button
        color="warn">
        Logout
      </button>
      <button
        type="button"
        title="Delete account"
        mat-fab
        color="warn"
        (click)="deleteAccount()"
        aria-label="Delete account">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </form>
  <form class="col">
    <mat-nav-list>
      <h3 matSubheader>Board Name</h3>
      <mat-list-item
        *ngFor="let board of vm.boards"
        (click)="goBoard(board)">
        <a
          matListItemTitle
          [routerLink]="['/board/', board.id]"
          >{{ board.name }}</a
        >
        <button
          title="Delete project"
          *ngIf="board.is_owner"
          (click)="deleteBoard($event, board)"
          mat-icon-button
          matListItemMeta>
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
        <button
          title="Leave project"
          *ngIf="!board.is_owner"
          (click)="leaveBoard($event, board)"
          mat-icon-button
          matListItemMeta>
          <mat-icon fontIcon="directions_walk"></mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </form>
</ng-container>
