:host {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 30px 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  height: 100vh;

  .mat-button {
    text-align: left;
    width: 100%;
  }
}

.team-logo {
  margin-bottom: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;

  &.primary {
    background: #dcdaf6;
  }
}

.user-actions {
  align-items: center;
  display: flex;
  margin-top: 1rem;
}

.logout {
  margin-right: 1rem;
  width: 100%;
}


.board-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem;
}

.board-bg {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

.board-item {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(232, 233, 234, 1);
  border-radius: 10px;
  overflow: hidden;
}

.board-extra {
  display: flex;
  justify-content: flex-end;
}

.board-title {
  text-decoration: none;
  color: currentColor;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}
