<button
  class="home"
  [routerLink]="['/']">
  <team-up-svg-icon
    icon="home"
    class="icon-svg"></team-up-svg-icon>
</button>
<div class="mode">
  @if (edit()) {
    <span
      #textarea
      teamUpAutofocus
      class="textarea"
      role="textbox"
      (clickOutside)="clickOutside()"
      (keydown.enter)="enter($event)"
      contenteditable
      >{{ name() }}</span
    >
  }
  @if (!edit() && isAdmin()) {
    <button
      class="edit-name"
      (click)="editName()">
      <team-up-svg-icon
        icon="edit"
        class="icon-svg"></team-up-svg-icon>
      <span class="board-name">{{ name() }}</span>
    </button>
  }
  @if (!isAdmin()) {
    <span class="board-name">{{ name() }}</span>
  }
</div>
<div class="header-end">
  @if (isAdmin()) {
    <button
      title="Settings"
      class="button-action"
      (click)="settings()">
      <mat-icon>settings</mat-icon>
    </button>
  }
  <button
    title="Share"
    class="button-action"
    (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="export()">
    <team-up-svg-icon
      icon="export"
      class="icon-svg"></team-up-svg-icon>
  </button>
  <div class="change-mode-button-holder">
    <button
      [class.active]="canvasMode() === 'editMode'"
      class="change-mode-button"
      (click)="changeCanvasMode('editMode')">
      Edit Mode
    </button>
    <button
      [class.active]="canvasMode() === 'composeMode'"
      class="change-mode-button"
      (click)="changeCanvasMode('composeMode')">
      Compose Mode
    </button>
  </div>
</div>
