:host {
  padding: 1rem;
  display: block;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-4);
  margin-block-start: var(--spacing-4);
}

.field {
  margin-block-start: var(--spacing-4);
  inline-size: 100%;
}

.label-text {
  display: block;
  font-size: var(--font-size-2);
}

.help {
  display: block;
  color: var(--gray-5);
  font-size: var(--font-size-0);
  padding-inline-start: 40px;
}
