:host {
  margin-block: 0;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.mt {
    margin-top: 2rem;
  }

  &.active {
    background: var(--primary-color-button-bg);
    border-radius: var(--radius-6);
    .toolbar-button .mat-icon {
      fill: white;
    }

    .toolbar-tooltip {
      display: none;
    }
  }

  &:not(.active) {
    .toolbar-button:hover {
      background: var(--grey-30);
      .mat-icon {
        fill: var(--grey-90);
      }

      + .toolbar-tooltip {
        left: calc(100% + 0.5rem);
        opacity: 1;
        padding: 0 10px;
      }
    }
  }
}

.toolbar-tooltip {
  align-items: center;
  background: var(--grey-90);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  font-family:
    'Work Sans',
    -apple-system,
    system-ui,
    sans-serif;
  justify-content: center;
  left: 100%;
  min-height: 2rem;
  min-width: 4.125rem;
  opacity: 0;
  padding: 0.25rem;
  pointer-events: none;
  position: absolute;
  top: 8px;
  transition: all 0.5s ease;
  z-index: var(--board-tools-layer);
  white-space: nowrap;

  &::before {
    background: #1f1f1f;
    content: '';
    height: 10px;
    position: absolute;
    right: calc(100% - 5px);
    top: calc(50% - 5px);
    transform: rotate(45deg);
    width: 10px;
  }

  label {
    font-family:
      'Inter',
      -apple-system,
      system-ui,
      sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
  }
}

.toolbar-button {
  align-items: center;
  background: none;
  border-radius: var(--radius-6);
  display: flex;
  height: var(--toolbar-button-height);
  justify-content: center;
  padding: 0;
  width: var(--toolbar-button-width);
  padding: var(--size-4) 0;
  .mat-icon {
    fill: var(--primary-color-button-bg);
  }
}

mat-icon {
  inline-size: 24px;
  block-size: 24px;
}
