<div class="col left">
  <div class="logo-holder">
    <span class="logo">Team Up</span>
  </div>
  <p class="claim">
    Welcome to Team Up! The free Open Source Tool that helps your herd to make
    happy, easy meetings, retros and brainstormings.
  </p>

  <div class="login-buttons">
    <button
      mat-raised-button
      class="google"
      (click)="loginGoogle()">
      <div class="button-inner">
        <team-up-svg-icon
          icon="google"
          class="icon-svg"></team-up-svg-icon>
        Login with Google
      </div>
    </button>
  </div>

  <div class="col right">
    <img
      class="elephant"
      src="/assets/svg/elephants.svg" />
  </div>
</div>
