<div class="col left">
  <div class="logo-holder">
    <span class="logo">Team Up</span>
  </div>
  <p class="claim">
    Welcome to Team Up! The free Open Source Tool that helps your herd to make
    happy, easy meetings, retros and brainstormings.
  </p>
  <div class="google">
    <div
      id="g_id_onload"
      [attr.data-client_id]="clientId"
      data-callback="onSignIn"></div>
    <div
      class="g_id_signin"
      data-type="standard"></div>
  </div>

  <div class="col right">
    <img
      class="elephant"
      src="/assets/svg/elephants.svg" />
  </div>
</div>
