<div class="col left">
  <div class="logo-holder">
    <span class="logo">Team Up</span>
  </div>
  <p class="claim">
    Welcome to Team Up! The free Open Source Tool that helps your herd to make
    happy, easy meetings, retros and brainstormings.
  </p>
  <div class="google">
    <div
      id="g_id_onload"
      [attr.data-client_id]="clientId"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="onSignIn"
      data-auto_prompt="false"></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"></div>
  </div>

  <div class="col right">
    <img
      class="elephant"
      src="/assets/svg/elephants.svg" />
  </div>
</div>
