:root {
  --purple: hsl(244, 61%, 64%);
  --purple-light: hsl(244, 61%, 85%);
  --purple-bbg: #736bdb80;
  --orange: #fed9b7;
  --yellow: #fdfcdc;
  --blue: #404e7c;
  --baby-blue: #42cfdc;
  --baby-blue-bbg: #42cfdc80;
  --white: #fff;
  --black: #000;
  --color-light-1: #f8f8fc;
  --error: rgb(240, 62, 62);

  /* NEW COLORS */

  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(240, 27%, 70%);
  --tertiary: hsl(240, 33%, 98%);
  --light: hsl(0, 0%, 100%);
  --accent: hsla(248, 50%, 58%, 0.5);
  --accent--alt: hsl(240, 33%, 99%);
  --accent--ui: #efefef;

  --brand: hsl(244, 61%, 64%);
  --brand-light: hsl(244, 61%, 85%);
}
