*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-body;

  .mat-raised-button.mat-primary {
    background: #736bdb;
  }
}

html,
body {
  background-color: var(--white);
  color: var(--color-black);
  font-family: "Raleway", -apple-system, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  word-break: break-word;
}

p {
  margin-bottom: 2.5rem;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 5px solid;
  margin-bottom: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-body;

  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

h1 {
  @include font-heading-1;
}

h2 {
  @include font-heading-2;
}

h3 {
  @include font-heading-3;
}

h4 {
  @include font-heading-4;
}

/* MEDIA */

img {
  max-width: 37.5rem; /* 600px /16 */
}

img,
video {
  height: auto;
  margin-bottom: 2.5rem;
  margin-top: 0;
  max-width: 100%;
}

/* LISTS */

ul {
  margin-bottom: 2.5rem;
  margin-top: 0;
  padding-left: 1.4rem;
}

li {
  margin-bottom: 0.4rem;
}

/* CODE */

pre,
code {
  font-family: "Consolas", "Courier", monospace;
  line-height: 1.5;
}

pre {
  background-color: #f6f6f6;
  direction: ltr;
  font-size: 1rem;
  hyphens: none;
  line-height: 1.375;
  margin: 0.5rem 0;
  padding: 1rem;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

code {
  word-break: break-all;
}

/* TABLES */

table {
  border-collapse: collapse;
  text-align: justify;
  width: 100%;
}

/* FORMS */

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
}

textarea {
  width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon-svg {
  display: flex;
  height: 24px;
  width: 24px;
}

.team-logo {
  border-radius: 4px;
  color: #736bdb;
  display: inline-block;
  font-family: "Raleway", -apple-system, system-ui, sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

main {
  height: 100%;
}
