<form [formGroup]="form">
  <mat-form-field>
    <input
      #search
      type="text"
      placeholder="Search text"
      matInput
      formControlName="search"
      [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [hideSingleSelectionIndicator]="true"
      (optionSelected)="selected($event)">
      @for (option of options(); track option) {
        <mat-option [value]="option.id">
          <span class="type">({{ option.type }})</span> {{ option.text }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
