:root {
  --purple: hsl(244, 61%, 64%);
  --purple-light: hsl(244, 61%, 85%);
  --purple-bbg: #736bdb80;
  --orange: #fed9b7;
  --yellow: #fdfcdc;
  --blue: #404e7c;
  --baby-blue: #42cfdc;
  --baby-blue-bbg: #42cfdc80;
  --white: #fff;
  --black: #000;
  --color-light-1: #f8f8fc;
  --error: rgb(240, 62, 62);

  /* NEW COLORS */

  --primary: hsl(0, 0%, 0%);
  --secondary: hsl(240, 27%, 70%);
  --tertiary: hsl(240, 33%, 98%);
  --light: hsl(0, 0%, 100%);
  --accent: hsla(248, 50%, 58%, 0.5);
  --accent--alt: hsl(240, 33%, 99%);
  --accent--ui: #efefef;

  --brand: var(--grey-90);
  --brand-light: hsl(244, 61%, 85%);

  /* ACCENT */
  --accent-aquamarine: #92d1b2;
  --accent-aquamarine-light: #c8e7d8;
  --accent-blue: #a6caf4;
  --accent-blue-light: #d2e4f9;
  --accent-orange: #fbb980;
  --accent-orange-light: #fcdbbf;
  --accent-purple: #d6b4ea;
  --accent-purple-light: #ead9f4;
  --accent-red: #ffa4ac;
  --accent-red-light: #ffd1d5;
  --accent-green: #a8d672;
  --accent-green-light: #d3eab7;
  --accent-lime: #cfd45f;
  --accent-lime-light: #e6e9ae;
  --accent-yellow: #f7d44c;
  --accent-yellow-light: #fae9a4;

  /* GREY SCALE */
  --grey-10: #f7f6f7;
  --grey-20: #eaecf0;
  --grey-30: #d8dce5;
  --grey-40: #bfc6d7;
  --grey-50: #a7b1c8;
  --grey-60: #8893b1;
  --grey-70: #5e688b;
  --grey-80: #3c456d;
  --grey-90: #1e254b;
}
