@use "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include typography.font-body;

  .mat-raised-button.mat-primary {
    background: #736bdb;
  }
}

html,
body {
  background-color: var(--white);
  color: var(--color-black);
  font-family:
    "Inter",
    -apple-system,
    system-ui,
    sans-serif;
  margin: 0;
  padding: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  word-break: break-word;
  margin: 0;
}

p {
  margin-bottom: 2.5rem;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 5px solid;
  margin-bottom: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

a {
  color: #000;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  @include typography.font-body;
}

h1 {
  @include typography.font-heading-1;
}

h2 {
  @include typography.font-heading-2;
}

h3 {
  @include typography.font-heading-3;
}

h4 {
  @include typography.font-heading-4;
}

/* MEDIA */

img,
video {
  height: auto;
  margin: 0;
  max-width: 100%;
}

/* LISTS */

ul {
  margin-bottom: 2.5rem;
  margin-top: 0;
  padding-left: 1.4rem;
}

li {
  margin-bottom: 0.4rem;
}

/* CODE */

pre,
code {
  font-family: "Consolas", "Courier", monospace;
  line-height: 1.5;
}

pre {
  background-color: #f6f6f6;
  direction: ltr;
  font-size: 1rem;
  hyphens: none;
  line-height: 1.375;
  margin: 0.5rem 0;
  padding: 1rem;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

code {
  word-break: break-all;
}

/* TABLES */

table {
  border-collapse: collapse;
  text-align: justify;
  width: 100%;
}

/* FORMS */

label,
legend,
fieldset {
  display: block;
}

textarea {
  width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

main {
  height: 100%;
}

[tapizRotateHandler] {
  aspect-ratio: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 45px / 2);
  width: 45px;

  mat-icon {
    transform: scale(1.5);
  }

  * {
    pointer-events: none;
  }
}

[tuIconButton] {
  display: flex;
  align-items: center;
  padding: var(--spacing-1);
  border-radius: 16px;

  &[size="small"] {
    aspect-ratio: 1;
    block-size: 24px;
    mat-icon {
      font-size: 16px;
      block-size: 16px;
    }
  }

  &:hover {
    background-color: var(--accent--ui);
  }
}

mat-dialog-content {
  --mdc-dialog-supporting-text-color: var(--primary);
}
