.pickr {
  border: 1px solid var(--grey-30);
  border-radius: 3px;
  inline-size: 28px;
  block-size: 28px;
}

.pcr-app {
  border-radius: var(--radius-3);
  border: 1px solid var(--grey-30);
  padding: var(--size-3) !important;
  width: 15rem !important;

  .pcr-type,
  .pcr-save,
  .pcr-clear,
  .pcr-result {
    border-radius: var(--radius-3) !important;
    padding: var(--size-2) !important;
    font-family: "Inter", sans-serif;
    font-size: 12px !important;

    &.active {
      background: var(--grey-30) !important;
      color: var(--grey-90) !important;
    }
  }
  .pcr-save {
    background: var(--grey-90) !important;
  }

  .pcr-clear {
    margin-top: 0.75em !important;
  }
}
