/* BUTTONS */
.mat-mdc-unelevated-button.mat-primary,
.mat-mdc-raised-button.mat-primary {
  --mdc-filled-button-container-color: var(--brand);
  --mdc-protected-button-container-color: var(--brand);
  border-radius: var(--radius-6);
  padding: var(--size-4);
  &:hover {
    background: var(--grey-80);
  }
}

.mat-mdc-mini-fab.mat-primary {
  background: var(--brand);
  &:hover {
    background: var(--grey-80);
  }
}

.mat-mdc-raised-button:not(:disabled) {
  border-radius: var(--radius-6);
  padding: var(--size-4);
}

/* MODALS */
.mat-mdc-dialog-surface {
  border-radius: var(--radius-3) !important;
  padding: var(--size-3);
  .title {
    font-size: var(--size-6);
    margin-bottom: 2rem;
  }
}

.mdc-snackbar.error {
  --mdc-snackbar-container-color: var(--error);
}

:root {
  --mdc-outlined-text-field-focus-outline-color: var(--brand);
  --mdc-outlined-text-field-caret-color: var(--brand);
  --mdc-outlined-text-field-focus-label-text-color: var(--brand);
  --mdc-fab-small-container-shape: 12px;
}
