:root {
  --text-editor-font-size: var(--size-5);
}

.ProseMirror,
.rich-text {

  outline: none;
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;

  p {
    margin-block-end: var(--size-1);
    font-size: var(--text-editor-font-size);
    &:empty::after {
      content: "\00A0";
    }
  }

  h1 {
    font-size: var(--size-14);
  }

  h2 {
    font-size: var(--size-12);
  }

  h3 {
    font-size: var(--size-10);
  }
}

.note-rich-text {
  font-family:
  "Open Sans",
  -apple-system,
  system-ui,
  sans-serif;

  overflow: hidden;
  line-height: 1.1;
}
