.ProseMirror,
.rich-text {
  outline: none;
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;

  p {
    margin-block-end: var(--size-1);
    font-size: var(--size-5);
    min-height: 36px;
  }

  h1 {
    font-size: var(--size-14);
  }

  h2 {
    font-size: var(--size-12);
  }

  h3 {
    font-size: var(--size-10);
  }
}
