@use "sass:meta";
@use "colors.scss";
@use "open-props/style";
@use "@angular/cdk/overlay-prebuilt.css";
@use "@simonwep/pickr/dist/themes/monolith.min.css";
@use "@angular/material/prebuilt-themes/deeppurple-amber.css";
@include meta.load-css("override-material.scss");
@include meta.load-css("override-color-picker.scss");
@include meta.load-css("fonts.scss");
@include meta.load-css("typography.scss");
@include meta.load-css("responsive.scss");
@include meta.load-css("spacing.scss");
@include meta.load-css("generic.scss");
@include meta.load-css("forms.scss");
@include meta.load-css("menu.scss");
@include meta.load-css("promsemirror.scss");
@include meta.load-css("layers.scss");

.participate-mode {
  --primary-color: var(--grey-90);
  --primary-color-background: var(--grey-20);
  --primary-color-button-bg: var(--grey-90);
}

.edit-mode {
  --primary-color: var(--grey-90);
  --primary-color-background: var(--grey-20);
  --primary-color-button-bg: var(--grey-90);
}
