@import "colors.scss";
@import "open-props/style";
@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@simonwep/pickr/dist/themes/monolith.min.css";
@import "override-material.scss";
@import "fonts.scss";
@import "typography.scss";
@import "fonts.scss";
@import "responsive.scss";
@import "spacing.scss";
@import "generic.scss";
@import "forms.scss";
@import "menu.scss";
@import "promsemirror.scss";
@import "layers.scss";

.participate-mode {
  --primary-color: var(--purple);
  --primary-color-background: #f1f0fc;
  --primary-color-button-bg: var(--purple-bbg);
}

.edit-mode {
  --primary-color: var(--baby-blue);
  --primary-color-background: #ddf2f7;
  --primary-color-button-bg: var(--baby-blue-bbg);
}
