:host {
  display: block;
  width: 345px;
  background: var(--primary-color-background);
  padding: var(--spacing-2);
  border-radius: 8px;
}


.token-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--spacing-1);
}

.token {
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  border: 1px solid transparent;

  &:focus {
    border: 1px solid var(--black);
  }
}

.title {
  margin-block-end: var(--spacing-1);
}

.tokens:not(:last-child) {
  margin-block-end: var(--spacing-2);
}
